<div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
  <div fxFlex="50">
    <mat-card class="mat-card">
      <mat-card-header>
          <mat-card-title>Arokya SM</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <section class="example-section">
          <mat-form-field class="input-prod example-margin">
              <input matInput  placeholder="SM500" aria-label="SM500" type="number" size="10"/>                  
          </mat-form-field>
          <mat-form-field class="input-prod example-margin">
            <input matInput  placeholder="SM175" aria-label="SM175" type="number" size="10"/>                  
          </mat-form-field>
          <mat-form-field class="input-prod example-margin">
              <input matInput  placeholder="SM500" aria-label="SM500" type="number" size="10"/>                  
          </mat-form-field>
          <mat-form-field class="input-prod example-margin">
            <input matInput  placeholder="SM175" aria-label="SM175" type="number" size="10"/>                  
          </mat-form-field>
          <mat-form-field class="input-prod example-margin">
            <input matInput  placeholder="SM500" aria-label="SM500" type="number" size="10"/>                  
          </mat-form-field>
          
        </section>
      </mat-card-content>
  </mat-card>
  <mat-card class="mat-card">
    <mat-card-header>
        <mat-card-title>Hatsun Curd Cup</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <section class="example-section">
        <mat-form-field class="input-prod example-margin">
            <input matInput  placeholder="SM500" aria-label="SM500" type="number" size="10"/>                  
        </mat-form-field>
        <mat-form-field class="input-prod example-margin">
          <input matInput  placeholder="SM175" aria-label="SM175" type="number" size="10"/>                  
        </mat-form-field>
        <mat-form-field class="input-prod example-margin">
            <input matInput  placeholder="SM500" aria-label="SM500" type="number" size="10"/>                  
        </mat-form-field>
        <mat-form-field class="input-prod example-margin">
          <input matInput  placeholder="SM175" aria-label="SM175" type="number" size="10"/>                  
        </mat-form-field>
        
      </section>
    </mat-card-content>
</mat-card>
<mat-card class="mat-card">
  <mat-card-header>
      <mat-card-title>Hatsun Curd Pouch</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <section class="example-section">
      <mat-form-field class="input-prod example-margin">
          <input matInput  placeholder="SM500" aria-label="SM500" type="number" size="10"/>                  
      </mat-form-field>
      <mat-form-field class="input-prod example-margin">
        <input matInput  placeholder="SM175" aria-label="SM175" type="number" size="10"/>                  
      </mat-form-field>
      <mat-form-field class="input-prod example-margin">
          <input matInput  placeholder="SM500" aria-label="SM500" type="number" size="10"/>                  
      </mat-form-field>
      <mat-form-field class="input-prod example-margin">
        <input matInput  placeholder="SM175" aria-label="SM175" type="number" size="10"/>                  
      </mat-form-field>
      
    </section>
  </mat-card-content>
</mat-card>
<mat-card class="mat-card">
  <mat-card-header>
      <mat-card-title>Arokya TM</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <section class="example-section">
      <mat-form-field class="input-prod example-margin">
          <input matInput  placeholder="SM500" aria-label="SM500" type="number" size="10"/>                  
      </mat-form-field>
      <mat-form-field class="input-prod example-margin">
        <input matInput  placeholder="SM175" aria-label="SM175" type="number" size="10"/>                  
      </mat-form-field>
      <mat-form-field class="input-prod example-margin">
          <input matInput  placeholder="SM500" aria-label="SM500" type="number" size="10"/>                  
      </mat-form-field>
      <mat-form-field class="input-prod example-margin">
        <input matInput  placeholder="SM175" aria-label="SM175" type="number" size="10"/>                  
      </mat-form-field>
      
    </section>
  </mat-card-content>
</mat-card>
<mat-card class="mat-card">
  <mat-card-header>
      <mat-card-title>Arokya FCM</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <section class="example-section">
      <mat-form-field class="input-prod example-margin">
          <input matInput  placeholder="SM500" aria-label="SM500" type="number" size="10"/>                  
      </mat-form-field>
      <mat-form-field class="input-prod example-margin">
        <input matInput  placeholder="SM175" aria-label="SM175" type="number" size="10"/>                  
      </mat-form-field>
      <mat-form-field class="input-prod example-margin">
          <input matInput  placeholder="SM500" aria-label="SM500" type="number" size="10"/>                  
      </mat-form-field>
      <mat-form-field class="input-prod example-margin">
        <input matInput  placeholder="SM175" aria-label="SM175" type="number" size="10"/>                  
      </mat-form-field>
      
    </section>
  </mat-card-content>
</mat-card>  
  </div>
</div>